Modulo1/holamundo/.vscode/settings.json
Modulo1/holamundo/db.sqlite3
Modulo1/holamundo/holamundo/__pycache__/__init__.cpython-310.pyc
Modulo1/holamundo/holamundo/__pycache__/wsgi.cpython-310.pyc
Modulo1/holamundo/holamundo/__pycache__/views.cpython-310.pyc
Modulo1/holamundo/holamundo/__pycache__/urls.cpython-310.pyc
Modulo1/holamundo/holamundo/__pycache__/settings.cpython-310.pyc
Modulo1/plantillas/plantillas/__pycache__/settings.cpython-310.pyc
.gitignore
Modulo1/plantillas/plantillas/__pycache__/urls.cpython-310.pyc
Modulo1/plantillas/plantillas/__pycache__/views.cpython-310.pyc
Modulo1/plantillas/plantillas/__pycache__/wsgi.cpython-310.pyc
Modulo1/plantillas/plantillas/__pycache__/__init__.cpython-310.pyc
Modulo1/estaticos/estaticos/__pycache__/__init__.cpython-310.pyc
Modulo1/estaticos/estaticos/__pycache__/settings.cpython-310.pyc
Modulo1/estaticos/estaticos/__pycache__/urls.cpython-310.pyc
Modulo1/estaticos/estaticos/__pycache__/views.cpython-310.pyc
Modulo1/estaticos/estaticos/__pycache__/wsgi.cpython-310.pyc
Modulo1/estaticos/db.sqlite3
Modulo1/herencia/herencia/__pycache__/__init__.cpython-310.pyc
Modulo1/herencia/herencia/__pycache__/settings.cpython-310.pyc
Modulo1/herencia/herencia/__pycache__/urls.cpython-310.pyc
Modulo1/herencia/herencia/__pycache__/views.cpython-310.pyc
Modulo1/herencia/herencia/__pycache__/wsgi.cpython-310.pyc
Modulo1/herencia/db.sqlite3
