{% load static %}
<footer>
        <img src="{% static 'img/logo.png' %}" width=128/>
        <ul>
                <li><a href="https://www.freepnglogos.com/images/camera-logo-hd-7139.html">Diseñador logotipo: Freepnglogos</a></li>
                <li><a href="https://www.freepnglogos.com/images/camera-logo-hd-7139.html">Diseñador logotipo: Freepnglogos</a></li>
                <li><a href="https://www.freepnglogos.com/images/camera-logo-hd-7139.html">Diseñador logotipo: Freepnglogos</a></li>
        </ul>

        <ul>
                <li><a href="{% url 'home' %}">Inicio</a></li>
                <li><a href="{% url 'portfolio'%}">Portfolio</a></li>
                <li><a href="https://www.instagram.com">Instagram</a></li>
        </ul>

        <ul>
                <li><a href="https://www.freepnglogos.com/images/camera-logo-hd-7139.html">Diseñador logotipo: Freepnglogos</li>
                <li><a href="https://www.freepnglogos.com/images/camera-logo-hd-7139.html">Diseñador logotipo: Freepnglogos</li>
                <li><a href="https://www.freepnglogos.com/images/camera-logo-hd-7139.html">Diseñador logotipo: Freepnglogos</li>
        </ul>
</footer>